{{#if navigation.length}}
	{{#each navigation}}
		{{#if ./content}}

			{{!-- in case there are nested elements --}}
			{{!-- OPEN sub-list to ensure indentation, etc. --}}
			{{#if ./items.length}}
				{{> sidebar-nav-tree-sublist-open sublist_id=(uuid)}}

				{{!-- call file again to collect every navigation element --}}
				{{> sidebar-nav-tree navigation=./items level=(increment ../level)}}

			{{!-- in case there are NO nested elements --}}
			{{!-- RENDER links or plain text-elements --}}
			{{else}}
				<li class="sidebar-item {{#if (eq ./url @root.page.url)}}active{{/if}}" data-depth="{{or ../level 0}}">
					{{#if ./url}} {{!-- display single link --}}
						<a class="sidebar-link" href="
							{{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
							{{~else}}{{{./url}}}{{~/if}}
						">{{{./content}}}</a>
					{{else}} {{!-- display single text-only entry --}}
						<span class="sidebar-link">{{{./content}}}</span>
					{{/if}}
				</li>

			{{/if}}

			{{!-- in case there are nested elements --}}
			{{!-- CLOSE sub-list to ensure indentation, etc. --}}
			{{#if ./items.length}}
				{{> sidebar-nav-tree-sublist-close}}
			{{/if}}

		{{/if}}
	{{/each}}
{{/if}}
