<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{#with page.canonicalUrl}}
	<link rel="canonical" href="{{{this}}}">
{{/with}}
{{#unless (eq page.attributes.pagination undefined)}}
	{{#with page.previous}}
		<link rel="prev" href="{{{relativize ./url}}}">
	{{/with}}
	{{#with page.next}}
		<link rel="next" href="{{{relativize ./url}}}">
	{{/with}}
{{/unless}}

{{#with page.description}}
	<meta name="description" content="{{{detag this}}}">
{{/with}}
{{#with page.keywords}}
	<meta name="keywords" content="{{{this}}}">
{{/with}}

<meta name="author" content="Sommerfeld.io">

<title>{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} :: {{this}}{{/with}}</title>

<link rel="shortcut icon" href="{{{uiRootPath}}}/img/favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{{!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"> --}}

<link href="{{{uiRootPath}}}/css/site.css" rel="stylesheet">
